ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_MODEL=doubao-seed-2-0-pro-260215
ARK_LITE_MODEL=
ARK_MODEL_MODE=pro
ARK_AGENT_CONCURRENCY=3
CANDIDATE_AGENT_TIMEOUT_SEC=180
AGENT_RUNTIME=auto
SHOT_AGENT_CONCURRENCY=6
SHOT_AGENT_MAX_REVISIONS=2
SHOT_AGENT_TIMEOUT_SEC=70
SHOT_AGENT_SOFT_TIMEOUT_SEC=28
CRITIC_AGENT_TIMEOUT_SEC=45
STORYBOARD_MATCH_CONCURRENCY=6
SEEDREAM_MODEL=doubao-seedream-5-0-260128
VIDEO_ANALYSIS_FPS=
RENDER_SEGMENT_CONCURRENCY=2
RENDER_FFMPEG_PRESET=veryfast
